.search-address {
	display: flex;
	flex-direction: column;
	margin: 16px;
	align-items: center;
	.search {
		display: flex;
		align-items: center;
		button {
			margin-left: 16px;
		}
		margin-bottom: 32px;
	}
	.address-info {
		display: flex;
		border-bottom: 1px solid #333;
		padding: 12px 0 ;
		width: 100%;
		align-items: center;
		justify-content: flex-start;
		cursor: pointer;
	}
}